.SakuraBackgroundDoc {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    gap: 1em;
    padding: 1em;
    margin: 0;
    padding: 0;
    text-shadow: 0 2px 1px #fff, 0 -2px 1px #fff, 2px 0 1px #fff,
        -2px 0 1px #fff;
}

.SakuraBackgroundDoc pre {
    padding: 1em;
    border-radius: 0.5em;
    margin: 1em;
    background-color: #333;
    color: #3f4;
    text-shadow: none;
}

.SakuraBackgroundDoc > *:last-child {
    grid-column: 1/-1;
}
